<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("imports.ejs") %>
</head>
<style type="text/css">
    body {
        color: blanchedalmond;
        background-color: steelblue;
        margin: auto;
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
</style>
<body>
    <h1>Welcome to gitPub</h1>
    <ul>
        <% for(let i = 0; i < drinks.length; i++){ %>

            <li><a href="/drinks/<%= i %>"><%= drinks[i].name %></a></li>

        <% } %> 
        <!-- Forgot to commit again -->
    </ul>
</body>
</html>