<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("imports.ejs") %>
</head>
<style type="text/css">
    body {
        color: blanchedalmond;
        background-color: steelblue;
        margin: auto;
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
</style>
<body>
    <h1>At foo bar</h1>

    <h2><%= consumable[id].name %></h2>
    <img src=<%= consumable[id].image %>>
    <h3><%= consumable[id].price %></h3>
    <h4><a href="/menu">GO BACK TO MENU</a></h4>
</body>
</html>